* {
    margin: 0;
    padding: 0;
}

/* sections */

.top,
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin: 50px auto;
    background-color: #272D2D;
}

.top h1,
.bottom h1 {
    color: #fff;
}

.content {
    width: 50%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #272D2D;
}

/* Lorem ipsum */

.side {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    margin: 5px;
    border-radius: 20px;
    background-color: #50514F;
}

.side h1,
.side p {
    margin: 10px;
    color: #23CE6B;
}

/* Slider */

.slider {
    width: 67%;
    min-height: 100%;
}

.slider-image {
    height: 190px;
    border-radius: 10px;
    box-shadow: 2px 2px #000;
}

.slider-list {
    display: flex;
    flex-flow: row-reverse;
    list-style: none;

    /* comment out overflow to make all of the images visible */
    overflow: hidden;
}

.slider-list li {
    margin: 5px;
}

/* Navigation buttons */

.navigate-slider {
    position: relative;
    float: right;
    opacity: 0.2;
    background-color: Transparent;
    height: 46px;
    width: 46px;
    border: solid #23CE6B 2px;
    outline: none;
    border-radius: 30px;
    margin-right: 10px;
    z-index: 99;
    margin: 20px;
}

.navigate-slider i {
    color: #23CE6B;
    font-size: 30px;
}

.push-right {
    margin-top: -165px;
}

.push-left {
    margin-top: -90px;
}

.navigate-slider:hover,
.navigate-slider:focus {
    cursor: pointer;
    opacity: 1;
}
